/* menu:ms_multilevel_top_menu */
#top-nav > .bg{
background:#fff;
position:absolute;
left:-2000px;
right:-2000px;
top:0;
bottom:0;
-moz-box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.07);
-webkit-box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.07);
box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.07);
}

.bx_horizontal_menu_advaced,
.bx_horizontal_menu_advaced > ul > li.first,
.bx_horizontal_menu_advaced > ul > li.first > a,
.bx_horizontal_menu_advaced > ul > li.last,
.bx_horizontal_menu_advaced > ul > li.last > a{
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}


.bx_horizontal_menu_advaced{
border-top:1px solid #efefef;
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl:hover > a,
.bx_horizontal_menu_advaced .m_more:hover > span{
background: #f7f7f7;
border-bottom:2px solid #ffa31e;
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl.current > a{
color: #333;
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl > a,
.bx_horizontal_menu_advaced .m_more > span,
.bx_horizontal_menu_advaced > a{
font-family:"Open Sans",sans-serif;
position:relative;
z-index:105;
display:block;
font-size:14px;
line-height:55px;
text-transform:uppercase;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
padding:0 15px;
height:58px;
color: #427bad;
}

.bx_horizontal_menu_advaced > a{display: none;}

.bx_horizontal_menu_advaced .m_more{
border: none;
}

.bx_horizontal_menu_advaced .m_more > span{
position: relative;
display: block;
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container,
.bx_horizontal_menu_advaced .mm_dd{
top:58px;
}

@media (max-width:744px){
	.bx_horizontal_menu_advaced > a{
		display: block;
		font-size: 15px;
		text-align: center;
		cursor: pointer;
		text-decoration:none;
	}
	.bx_horizontal_menu_advaced > a span{
		border-bottom:1px dashed;
	}

	.bx_horizontal_menu_advaced > a:hover span{
		border-color:transparent;
	}

	.bx_horizontal_menu_advaced > ul{display: block;}
	.bx_horizontal_menu_advaced > ul{
		background:#fff;
		position: absolute;
		top: 59px;
		display: none;
		box-shadow:0 4px 5px 0 rgba(1,1,1,.16);
	}
	.bx_horizontal_menu_advaced .bx_hma_one_lvl{
		display: block;
		height: auto;
		height: auto;
	}
	.bx_horizontal_menu_advaced .bx_hma_one_lvl > a{
		border:none!important;
		line-height: normal;
		padding:12px;
		height: auto;
	}

}
